name: turbolessons-frontend-docker

on:
  push:
    branches:
      - main
      - debug_workflow

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.7

      - name: Docker Setup Buildx
        uses: docker/setup-buildx-action@v3.6.1

      - name: Docker Login
        uses: docker/login-action@v3.3.0  
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build and push turbolessons-frontend
        uses: docker/build-push-action@v6.5.0
        with:
          context: ./turbolessons-frontend
          push: true
          tags: noslenj/turbolessons-frontend:latest
          build-args: |
            ISSUER=${{ secrets.ISSUER }}
            CLIENT_ID=${{ secrets.CLIENT_ID }}    
            
      - name: Trigger Jenkins Multiple Jobs
        uses: appleboy/jenkins-action@v0.0.2
        with:
          url: "https://mostly-certain-primate.ngrok-free.app/"
          user: "noslen"
          token: ${{ secrets.JENKINS_TOKEN }}
          job: "frontend"
